AutoROM.accept-rom-license==0.6.1
AutoROM==0.6.1
Babel==2.11.0
Brotli==1.0.9
Farama-Notifications==0.0.4
Flask-Cors==4.0.1
Flask==3.0.3
GitPython==3.1.43
Jinja2==3.1.4
Js2Py==0.74
Markdown==3.6
MarkupSafe==2.1.3
MarkupSafe==2.1.5
PyOpenGL==3.1.7
PyQt5-sip==12.13.0
PyQt5==5.15.10
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.15.1
Pygments==2.18.0
QtPy==2.4.1
Rtree==1.2.0
Send2Trash==1.8.2
Shimmy==1.3.0
Werkzeug==3.0.3
absl-py==2.1.0
accelerate==0.30.1
aiohttp==3.9.5
aiosignal==1.3.1
ale-py==0.8.1
antlr4-python3-runtime==4.9.3
anyio==4.2.0
apache-beam==2.54.0
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
array_record==0.5.1
arrow==1.3.0
asttokens==2.0.5
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
attrs==23.2.0
beautifulsoup4==4.12.3
black==24.4.2
bleach==4.1.0
blinker==1.8.2
braceexpand==0.1.7
brax==0.10.4
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
clip==1.0
cloudpickle==3.0.0
coacd==1.0.0
comm==0.2.1
contextlib2==21.6.0
contourpy==1.2.1
crcmod==1.7
cycler==0.12.1
dacite==1.8.1
debugpy==1.6.7
decorator==4.4.2
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.1.1
distrax==0.1.5
dlimp==0.0.1
dm-env==1.6
dm-reverb==0.14.0
dm-tree==0.1.8
dnspython==2.6.1
docker-pycreds==0.4.0
docopt==0.6.2
dotmap==1.3.30
einops-exts==0.0.4
einops==0.8.0
etils==1.8.0
evdev==1.7.1
evosax==0.1.6
executing==0.8.3
executing==2.0.1
fast_kinematics==0.2.2
fastavro==1.9.4
fasteners==0.19
fastjsonschema==2.16.2
filelock==3.15.4
flamingo-pytorch==0.1.2
flashbax==0.1.2
flatbuffers==24.3.25
flax==0.8.1
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.2.0
gast==0.5.4
gdown==5.2.0
gin-config==0.5.0
gitdb==4.0.11
glfw==2.7.0
google-auth-oauthlib==1.2.0
google-auth==2.29.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
grpcio==1.64.0
gym-notices==0.0.8
gym==0.26.2
gymnasium==0.29.1
gymnax==0.0.8
h5py==3.11.0
hdfs==2.7.3
httplib2==0.22.0
huggingface-hub==0.23.1
hydra-core==1.3.2
idna==3.7
imageio-ffmpeg==0.4.9
imageio==2.34.1
immutabledict==4.2.0
importlib_resources==6.4.0
improve==0.1.0
ipykernel==6.28.0
ipython==8.22.2
ipython==8.25.0
ipywidgets==8.1.2
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jax-cuda12-pjrt==0.4.28
jax-cuda12-plugin==0.4.28
jax==0.4.28
jaxlib==0.4.28
jaxopt==0.8.3
jedi==0.18.1
jedi==0.19.1
json5==0.9.6
jsonpickle==3.0.4
jsonpointer==3.0.0
jsonschema-specifications==2023.12.1
jsonschema-specifications==2023.7.1
jsonschema==4.19.2
jsonschema==4.22.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.10
jupyterlab==4.0.11
jupyterlab_server==2.25.1
keras==2.15.0
kiwisolver==1.4.5
libclang==18.1.1
lightning-utilities==0.11.2
lightning==2.3.1
llvmlite==0.43.0
lxml==5.2.2
mani_skill2==0.5.3
mani_skill2_real2sim==0.5.3
mani_skill==3.0.0b4
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
matplotlib-inline==0.1.7
matplotlib==3.9.0
mdurl==0.1.2
mediapy==1.2.0
mistune==2.0.4
ml-dtypes==0.3.2
ml_collections==0.1.1
moviepy==1.0.3
mplib==0.1.1
mpmath==1.3.0
msgpack==1.0.8
mujoco-mjx==3.1.5
mujoco==3.1.5
multidict==6.0.5
mypy-extensions==1.0.0
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.3
notebook_shim==0.2.3
numba==0.60.0
numpy==1.23.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvcc-cu12==12.2.140
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
objsize==0.7.0
octo==0.0.0
omegaconf==2.3.0
opencv-python==4.10.0.84
opt-einsum==3.3.0
optax==0.2.2
orbax-checkpoint==0.4.4
orjson==3.10.3
overrides==7.4.0
packaging==23.2
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.8.0
pexpect==4.9.0
pillow==10.3.0
pip==24.0
platformdirs==3.10.0
platformdirs==4.2.2
plotly==5.22.0
ply==3.11
portpicker==1.6.0
proglog==0.1.10
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.0
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow-hotfix==0.6
pyarrow==14.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydot==1.4.2
pygame==2.1.3
pyjsparser==2.7.1
pymongo==4.7.2
pynput==1.7.7
pyparsing==3.1.2
pyperclip==1.8.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-xlib==0.33
pytinyrenderer==0.0.14
pytorch-lightning==2.2.5
pytz==2024.1
pyzmq==25.1.2
qtconsole==5.5.1
referencing==0.30.2
referencing==0.35.1
regex==2024.5.15
requests-oauthlib==2.0.0
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rlds==0.1.8
robosuite==1.4.1
rpds-py==0.10.6
rpds-py==0.18.1
rsa==4.9
ruckig==0.12.2
safetensors==0.4.3
sapien==2.2.2
sb3_contrib==2.3.0
scipy==1.12.0
seaborn==0.13.2
sentry-sdk==2.2.1
setproctitle==1.3.3
setuptools==69.5.1
simpler_env==0.0.1
simulated_annealing==0.0.1
sip==6.7.12
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
stable_baselines3==2.3.2
stack-data==0.2.0
stack-data==0.6.3
sympy==1.12.1
tabulate==0.9.0
tenacity==8.3.0
tensorboard-data-server==0.7.2
tensorboard==2.15.2
tensorboardX==2.6.2.2
tensordict==0.4.0
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.0
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-metadata==1.15.0
tensorflow-probability==0.23.0
tensorflow==2.15.1
tensorstore==0.1.59
termcolor==2.4.0
terminado==0.17.1
tf-agents==0.19.0
tfds-nightly==4.9.4.dev202403220044
tfp-nightly==0.25.0.dev20240322
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
toppra==0.6.0
torch==2.3.1
torchmetrics==1.4.0.post0
torchrl==0.4.0
torchvision==0.18.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.41.0
transforms3d==0.4.2
transic==0.0.1
trimesh==4.4.0
triton==2.3.1
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uri-template==1.3.0
urllib3==2.2.1
urllib3==2.2.2
wandb==0.17.0
wcwidth==0.2.13
wcwidth==0.2.5
webcolors==24.6.0
webdataset==0.2.86
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.43.0
widgetsnbextension==4.0.10
wrapt==1.14.1
yarl==1.9.4
zipp==3.18.2
zstandard==0.22.0